<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blocket_lite</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/blocket_lite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="mainnav">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>blocket-lite.se</h1>
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AddNewProduct">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </li>
                <partial name="_LoginPartial" />
                @* @if (@ViewBag.user == null)

                    {
                    <li>
                    <a asp-area="" asp-controller="User" asp-action="Login">
                    <i class="fa-solid fa-user"></i>
                    </a>
                    </li>

                    } *@
                @* @if (@ViewBag.user != null)

                    {
                    <li>
                    <a asp-area="" asp-controller="Home" asp-action="LikedByUser">
                    <i class="fa-solid fa-user"></i>
                    </a>
                    </li>
                    }
                    <li>
                    <a asp-area="" asp-controller="Home" asp-action="UserCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    </li> *@

            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="wrapper">
        <footer>
            &copy; 2022 - Shop.se - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
